/* Add a black background color to the body */
/* Style the body element */
body {
  font-family: "Times New Roman", cursive;
  color: white;
  background: #AA076B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045F, #AA076B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Style the h1 element */
h1 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  margin: 20px 0;
}

/* Style the paragraph elements */
p {
  font-size: 36px;
  color: #fff;
  text-align: left;
  font-weight: normal;
  margin: 20px 0;
}

/* Style the div elements that contain the input fields and button */
div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* Style the input fields */
input[type=number] {
  width: 40%;
  padding: 8px 10px;
  border: 1px solid #CCC;
  border-radius: 4px;
  font-size: 16px;
}

/* Style the button */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px auto;
  cursor: pointer;
  border-radius: 5px;
}

/* Style the output container */
#output {
  display: table;
  border-collapse: collapse;
  border: 1px solid #fff;
}

/* Style the rows inside the output container */
#output div {
  display: table-row;
}

/* Style the paragraphs inside the output container */
#output p {
  display: table-cell;
  padding: 8px;
  text-align: left;
  font-weight: normal;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

/* Style the card component */
.card {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

/* Style the card header */
.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Style the card content */
.card-content {
  font-size: 16px;
  color: #333;
}

/* Style the card footer */
.card-footer {
  text-align: right;
  margin-top: 16px;
}

/* Style the table cells and headers */
td,
th {
  color: white;
  font-weight: normal;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Style for bold white text */
.bold-white {
  color: white;
  font-weight: bold;
}
